<div class="m-4">
  <div
    class="
      rounded-t-lg
      overflow-hidden
      border-t border-b border-l border-r border-gray-400
      p-4
      bg-white
    "
  >
    <ul class="flex">
      <li class="mr-3">
        <a routerLink="/generations" class="text-blue-500 hover:text-blue-800"
          >Generations</a
        >
      </li>
      <li class="mr-3">
        <a routerLink="/pokemons" class="text-blue-500 hover:text-blue-800"
          >Pokemons</a
        >
      </li>
    </ul>
  </div>
  <div
    class="
      flex
      justify-center
      rounded-b-lg
      overflow-hidden
      border-t border-b border-l border-r border-gray-400
      p-4
      bg-white
    "
  >
    <router-outlet></router-outlet>
  </div>
</div>
